html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background: black;
    gap: 20px;
}

img {
    border-radius: 25px;
}

/* HEADER */

.header-container {
    display: flex;
    flex-direction: column;
    background-color: #ff9000;
    padding: 10px;
    border-radius: 12px;
    border: solid;
    border-color: white;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 0;
}

header h1 {
    color: black;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 75px;
    margin: auto;
}

header h2 {
    color: black;
    background-color: #ff9000;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
    margin: auto;
}

.btn {
    background-color: #ff9000;
    border-radius: 12px;
    font-size: 35px;
    padding: 10px;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn:hover {
    background-color: orange;
}

/* ARTICLE */

.article {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* .menu {
    display: flex;
    flex-direction: column;
    background-color: #ff9000;
    margin: auto 0;
    padding: 10px;
    justify-content: space-evenly;
    border-radius: 12px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 10%;
    height: 600px;
    min-width: 300px;
    border: solid;
    border-color: white;
}

h3 {
    font-size: 40px;
    margin: 0;
}

.menu a {
    font-size: 30px;
    margin: auto;
    padding: 10px;
} */

.caption {
    text-align: center;
    color: white;
    font-size: 15px;
    font-style: italic;
    margin: 0;
    padding-bottom: 2px;
}

#info-1 {
    width: 40%;
    min-width: 300px;
    align-self: flex-start;
}

#info-2 {
    background: black;
    padding-top: 20px;
    margin: auto;
    width: 100%;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
}

#info-2 p {
    margin: 0 auto;
}

#kredins {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background: black;
    width: 40%;
    min-width: 300px;
    
}

img[alt="Kredin image"] {    
    width: 100%;
    border-radius: 25px;
}

#typing {
    background: black;
    width: 40%;
    height: 100%;
    float: right;
    text-align: center;
    align-content: center;
}

img[alt="typing gif"] {
    width: 100%;
    margin: auto;
}

/* Projects */

.projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.p1 {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    min-width: 300px;
}

.p1 img {
    max-width: 100%;
}

.project-buttons {
    display: flex;
    justify-content: space-around;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    background: #ff9000;
    border-radius: 12px;
    text-align: center;
    margin: 0;
    padding: 10px;
    border: solid;
    border-color: white;
}

.contact button {
    height: 100px;
    width: 100px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact img {
    height: 100%;
}

#wrong-page {
    font-size: 60px;
}

img[alt="HAHA spiderman meme"] {
    width: 100%;
}